@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@font-face{
    font-family: "MemphisRiver";
    src: url(Fonts/Memphis-River/Memphis\ River.otf);
}
@font-face{
    font-family: "casual-regular";
    src: url(Fonts/Casual-Regular.ttf);
}

:root{
    --yellow:#f9ca24;
    --red:#ec1839;
    --white:#eee;
    --black:black;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background: var(--yellow);
    color: navy;
}
html{
    font-size: 62%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.2rem;
}
html::-webkit-scrollbar-track{
    background: #222;
}
html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}
body{
    background: var(--black);
    overflow-x: hidden;
    padding-left: 26rem;
}


/* Navbar */
header .user .name{
    font-size: 4.5rem;
    font-weight: 200;
    font-family: "MemphisRiver",sans-serif;
    color: var(--yellow);
    border-radius: 20px;
}       
/* header .user .post{
    font-family: "casual-regular",sans-serif;
    font-size: 1.5rem;
    color:rgb(1, 217, 255);
}  */
header .user img{
    height:12rem;
    width:12rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--yellow);
}
header .navbar{
    width:100%;
}
header .navbar ul{
    list-style: none;
    padding:1rem 1rem;
}

header .navbar ul li a{
    display: block;
    font-family: "casual-regular",sans-serif;   
    padding:1rem;
    margin:1rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}
header .navbar ul li a:hover{
    font-style: italic;
    font-family: "casual-regular",sans-serif;
    color:var(--black);
    background:var(--yellow);
}
header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height: 100%;
    width:26rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
} 

#menu{
    position: fixed;
    top:5rem;right:2rem;
    background: #333;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem,1.5rem;
    z-index: 1000;
    display: none;
}
/* Home Starts */
.Home{
    display: flex;
    justify-content: center;
    flex-flow:column ;
    padding: 0 20rem;
}
.Home h3 {
    font-size: 2.5rem;
    color: #fff;
}
.Home h1 {
    font-size: 5rem;
    color: #fff;
    font-family: "casual-regular",sans-serif; 
}
.Home h1 span{
    font-family: "casual-regular",sans-serif;
}
.Home p {
    font-size: 1.5rem;
    color: #fff;
    padding: 0.4rem 0;
}
section{
    min-height: 100vh;
    padding: 2rem;
}
.btn{
    padding: .7rem .5rem;
    font-weight: 480;
    background: var(--red);
    color: var(--white);
    /* background: red; */
    /* color: white; */
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.8rem;
    border-radius: 6rem;
}
.btn i{
    padding: 0 .5rem;
    font-size: 1.2rem;
}
.btn:hover{
    color: var(--black);
    background: var(--yellow);
}



/* About Page Starts */
.About .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding:1rem 0;
}

.About .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.About .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.About .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}
.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    font-family: "casual-regular",sans-serif; 
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    font-family: "casual-regular",sans-serif; 
    color:var(--yellow);
}



/* .Education part :start */
.Education .box-container{
    margin-top: 100px;
    margin-bottom: 150px;
    flex-flow: column;
    display: flex;
   align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}
.Education .box-container .box{
    width: 27rem;
    margin: 2rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position:relative;
}
.Education .box-container .box span{
    padding: .7rem .5rem;
    font-weight: 500;
    background: var(--red);
    color: var(--white);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.8rem;
    border-radius: 6rem;
}
.Education .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding-top:1.5rem ;
}
.Education .box-container .box p{
    font-size: 1.4rem;
    color: #fff;
    padding-top:1rem ;
}
.Education .box-container .box i{
    position: absolute;
    top: -10px;
    left: -20px;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    /* color: black; */
    color: var(--black);
    background-color: var(--yellow);
}



/* skills section starts */
.skills .skills_container{
    margin-left:10rem;
    margin-top: 10rem;
    color: #eee;
}
.skills i{
    position: relative;
    font-size: 3rem;
    margin-right: 2rem;
    color: var(--yellow);
}
.skills_container{
    row-gap: 8rem;
    text-align: center;
}
.skills_text{
    margin-top: 1.5rem;
}
.skills_data{
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 2rem;
    font-weight: 900;
    padding: .5rem 1rem;
    margin-bottom: 20px;
    border-radius: 1rem;
    width: 50rem;
    box-shadow: 0 1px 8px var(--yellow);
}

.skill_name{
    display: flex;
    align-items: center;
}
/* .headSkill{
    font-family: "casual-regular",sans-serif; 
    color: rgb(5, 88, 136);
    font-size: 3rem;
   margin-left: 2rem;
   margin-top: 2rem ;
   margin-bottom: 2rem;
} */
.Skill_bar{
    position: absolute;
    left: 2px;
    bottom: 0;
    background-color: white;
    height: .25rem;
    border-radius: .5rem;
    z-index: 1000;
}
.skill_HTML{
    width: 95%;
}
.skill_css{
    width: 88%;
}.skill_javas{
    width: 45%;
}.skill_java{
    width: 60%;
}.skill_python{
    width: 40%;
}



/* contact section Starts */
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    flex-wrap: wrap;
}
.contact .row .content{
    flex:1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}
.contact .row form{
    flex:1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}
.contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: #333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}
.contact .row form .message{
    height: 15rem;
    resize: none;
}
.contact .row .content .title{
    text-decoration: uppercase;
    color: white;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}
.contact .row .content .info h3 i{
    color: var(--yellow);
    padding-right: 1rem;
}
.box-btn{
    margin-top: 10px;
    padding: 1rem;
    font-size: 2rem;
    background: #333;
    color: #fff;
    border-radius: 10px;
}
.box-btn i{
    padding-left: 10px;
}



/* style switch toggle */
.style-switcher {
    position: fixed;
    right: 1rem;
    padding: 15px;
    top:10px;
    width: 150px;
    height: 80px;
    /* border: 1px solid var(--yellow); */
    background: black;
    color: #fff;
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
.style-switcher.open{
    transform: translateX(-25px);
}
.style-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background:black;
    color: white;
    right: 100%;
    /* border: 1px solid white; */
    margin-right: 2px;
    transition: all 0.3s ease;
}
.style-switcher h4{
    margin: 0 0 10px;
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.style-switcher .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switcher .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid red;
    border-radius: 50%;
}
.style-switcher .color-1{
    background-color: #00ffff;
}
.style-switcher .color-2{
    background-color: #2bff00;
}
.style-switcher .color-3{
    background-color: #f490d6;
}



/* media query */
 @media(max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 10rem;
    }
    
 }
 @media (max-width:991px){
    header{
       top: -120%; 
    }
    #menu{
        display: block;
    }
    header.toggle{
        top: 0;
    }
    body{
        padding: 50px;
    }
 }
 @media (max-width:350px){
    header{
       width: 100vw; 
    }
    .skills .skills_container{
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 20px 100px 10px 20px;
    }
    .skills_data{
        width:30rem;
    }
    .heading{
        margin: 0 3rem;
    }
 }
 @media (max-width:390px){
    /* .skills .skills_container{
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 20px 100px 10px 20px;
    } */
    .skills_data{
        width: 10rem;
        }
 }
 @media (max-width:540px){
    header{
        width: 100vw;
    }
    .skills .skills_container{
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 20px 0px 10px 20px;
    }
    .skills_data{
        width:40rem;
    }
 }
 @media (max-width:768px){
   html{
    font-size: 50%;
   }
 }